.git
.DS_Store

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/vendor
**/.nuxt
**/dist
**/coverage

apps/backend/storage/logs/*
apps/backend/storage/framework/cache/*
apps/backend/storage/framework/sessions/*
apps/backend/storage/framework/views/*
apps/backend/storage/oauth-*.key

Propuesta_Comercial_Embacolsa.docx

env/
**/storage/oauth-keys/
